.contador-titulo {
    text-align: center;

}

.contador-aumentar {
    border: none;
    background-color: #11ff22;
    padding: 15px;
    margin-right: 15px;
}

.contador-diminuir {
    border: none;
    background-color: red;
    padding: 15px;
    
}